:root {
    --netflix-red : hsl(0, 95%, 48%);
    --peachey : hsl(44, 96%, 53%);
    --dark-gray : rgb(63, 61, 61);
    --light-blue : hsl(194, 74%, 45%);
    --vlight-gray : hsl(0, 5%, 92%);
    --light-gray : hsl(0, 6%, 74%);
    --alight-gray : hsl(0, 2%, 68%);
}

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

@font-face {
    font-family: "NetflixSans-Regular";
    src: url(Fonts/NetflixSans-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "NetflixSans-Medium";
    src: url(Fonts/NetflixSans-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "NetflixSans-Bold";
    src: url(Fonts/NetflixSans-Bold.woff2);
    font-weight: 700;
}

body {
    background-color: black;
    font-family: "NetflixSans-Regular";
    min-width: 375px;
    margin: 0 auto;
}

h1 {
    font-family: "NetflixSans-Bold";
    font-size: 25px;
    padding: 5px 0;
    margin: 7px 0;
}

h2 {
    font-family: "NetflixSans-Medium";
    font-size: 18px;
    padding: 5px 0;
    margin: 5px 0;
}

h3 {
    font-family: "NetflixSans-Medium";
    font-size: 18px;
    padding: 5px 0;
    margin: 5px 0;
}

p {
    font-weight: 200;
    margin: 10px 0;
}

h5 {
    padding: 3px 0;
    margin: 5px 0;
}

span {
    font-weight: 100;
    font-size: large;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

#logo {
    width: 8em;
    margin-top: 4px;
}

#right h2 {
    color: white;
}

#right {
    display: flex;
    align-items: center;
    padding: 5px;
}

#left {
    padding: 5px;
}

#left button {
    padding: 5px;
    border: none;
    margin: 2px;
    border-radius: 2px;
}

#signUp {
    background-color: white;
    color: var(--dark-gray);
}

#signIn {
    background-color: var(--netflix-red);
    color: white;
}

main {
    background-color: white;
    padding: 25px;
}

small {
    color: var(--netflix-red);
    margin: 10px 0;
    padding: 2px;
}

p a {
    color: var(--netflix-red);
}

hr {
    margin: 35px 5px 15px 5px;
    font-weight: 100;
    color: var(--light-gray);
}

#downloads img {
    width: 10em;
    margin-bottom: 15px;
}

.directory {
    margin-bottom: 25px;
}

.actions {
    padding: 8px;
    color: var(--dark-gray);
    border: 1px solid var(--alight-gray);
    margin-bottom: 20px;
}

.bottom {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

select {
    color: white;
    background-color: black;
    font-size: 16px;
    height: 6vh;
    width: 25vw;
    opacity: .8;
}


ul li {
    list-style: none;
    text-align: right;
}

ul li a {
    color: var(--light-gray);
    opacity: .7;
}

.attribution, .attribution a {
    color: var(--alight-gray);
    text-align: center;
    margin: 10px auto;
}
